.box_menu_geral{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 300px;
    margin: auto 200px;
}
.menuSuperior_direito{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.menuSuperior_esquerdo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.menuSuperior_center{
    height: 300px;
    display: flex;
    align-items: center;
    bottom: 100px;
    justify-content: center;
}
.item_cabeca_center{
    margin-top: 250px;
}